# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# build
*.exe
/services/backend/main

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
app/next-env.d.ts

# IDE
.idea

# project specific
*.mp3
*.mp4
*.webm
*.mov
*.avi
*.wmv
*.db
repomix-output.txt
repomix-output.xml
data/*
*.journal
*.part
*.json

*.pp
*.te
